---
import { tabsData } from 'apps/data/landing/clean-markup';
import SectionWrapper from './common/SectionWrapper.astro';
import SectionHeader from './common/SectionHeader.astro';
import cardImage from '@assets/images/landing/card.jpg';
import CheckIcon from '@components/icons/CheckIcon.astro';
import CopyIcon from '@components/icons/CopyIcon.astro';
import Code from 'astro/components/Code.astro';
---

<SectionWrapper id="clean-markup" class="max-w-340">
  <SectionHeader
    title="Clean markup, full control."
    subtitle="Ditch long utility class strings. Hummingbird gives you complete freedom of pixel-perfect tweaks - plus full Tailwind flexibility."
  />

  <div class="flex flex-col md:h-112 md:flex-row gap-6">
    <!-- code tabs -->
    <div class="p-6 relative flex flex-col flex-1 max-h-88 md:max-h-none overflow-hidden bg-muted rounded-2xl">
      <nav class="border-b border-base">
        <div class="nav nav-underline gap-1" role="tablist">
          {
            tabsData.map((tab) => (
              <button
                class={`nav-link font-bold px-2 h-9 text-sm ${tab.active ? 'active' : ''}`}
                id={`${tab.id}-tab`}
                data-bs-toggle="tab"
                data-bs-target={`#${tab.id}`}
                type="button"
                role="tab"
                aria-controls={tab.id}
                aria-selected={tab.active ? 'true' : 'false'}
              >
                {tab.label}
              </button>
            ))
          }
          <div id="cl-copy-btn" class="ml-auto p-0.5 cursor-pointer">
            <CopyIcon id="cl-copy-icon" />
            <CheckIcon id="cl-check-icon" class="hidden text-success" />
          </div>
        </div>
      </nav>

      <div class="tab-content flex overflow-hidden">
        {
          tabsData.map((tab) => (
            <div
              class={`tab-pane fade overflow-auto scrollbar-hide ${tab.active ? 'show active' : ''}`}
              id={tab.id}
              role="tabpanel"
              tabindex="0"
            >
              <Code
                class="!text-sm h-full w-full !overflow-auto !bg-muted !rounded-lg !px-0 scrollbar-hide"
                data-astro-code
                code={tab.code}
                themes={{ light: 'github-light', dark: 'github-dark' }}
                lang="html"
              />
            </div>
          ))
        }
      </div>
    </div>

    <!-- card -->
    <div class="w-75 h-full mx-auto shrink-0">
      <div class="card h-full rounded-2xl overflow-hidden">
        <img src={cardImage.src} class="card-img-top object-cover h-1/2" alt="card-image" />
        <div class="card-body">
          <div class="flex justify-between">
            <div>
              <h4 class="card-title">Bali Getaway</h4>
              <p class="text-xs text-emphasis">5 Days · 4 Nights</p>
            </div>
            <h6 class="text-default text-base">$499 pp</h6>
          </div>

          <p class="mb-0">
            Discover the beauty of Bali with guided tours, luxury resorts, and unforgettable sunsets. Perfect for
            families.
          </p>
        </div>
        <div class="card-footer p-4">
          <button class="btn btn-neutral w-full">Book now</button>
        </div>
      </div>
    </div>
  </div>
</SectionWrapper>

<script>
  const copyBtn = document.querySelector('#cl-copy-btn') as HTMLButtonElement;
  const copyIcon = copyBtn.querySelector('#cl-copy-icon') as HTMLElement;
  const checkIcon = copyBtn.querySelector('#cl-check-icon') as HTMLElement;

  copyBtn.addEventListener('click', async () => {
    const activeTab = document.querySelector('.tab-pane.show.active code');
    if (!activeTab) return;

    try {
      await navigator.clipboard.writeText(activeTab.textContent);
      copyIcon.classList.add('hidden');
      checkIcon.classList.remove('hidden');

      setTimeout(() => {
        checkIcon.classList.add('hidden');
        copyIcon.classList.remove('hidden');
      }, 1500);
    } catch (err) {
      console.error('Failed to copy:', err);
    }
  });
</script>
