---
import { tabsData } from 'apps/data/landing/clean-markup';
import SectionHeader from './common/SectionHeader.astro';
import SectionWrapper from './common/SectionWrapper.astro';
import CopyIcon from '@components/icons/CopyIcon.astro';
import CheckIcon from '@components/icons/CheckIcon.astro';
import AppCode from '@components/common/AppCode.astro';
import GradientBorderBox from './common/GradientBorderBox.astro';
import gridLeftL from '@assets/images/landing/grids/grid-left-l.png';
import gridLeftD from '@assets/images/landing/grids/grid-left-d.png';
---

<div class="relative">
  <div class="absolute w-240 top-20 -left-90">
    <img src={gridLeftD.src} class="hidden dark:block object-contain" />
    <img src={gridLeftL.src} class="dark:hidden object-contain" />
  </div>

  <SectionWrapper id="clean-markup" class="max-w-340">
    <SectionHeader
      title="Clean markup, full control."
      subtitle="Ditch long utility class strings. Hummingbird gives you complete freedom of pixel-perfect tweaks - plus full Tailwind flexibility."
    />

    <div class="flex flex-col lg:flex-row lg:h-114 gap-6">
      <!-- code tabs -->
      <div class="p-6 relative flex flex-col flex-1 max-h-100 lg:max-h-full overflow-hidden bg-muted rounded-2xl">
        <nav class="border-b border-base">
          <div class="nav nav-underline gap-1" role="tablist">
            {
              tabsData.map((tab) => (
                <button
                  class={`nav-link font-bold px-2 h-9 text-sm ${tab.active ? 'active' : ''}`}
                  id={`${tab.id}-tab`}
                  data-bs-toggle="tab"
                  data-bs-target={`#${tab.id}`}
                  type="button"
                  role="tab"
                  aria-controls={tab.id}
                  aria-selected={tab.active ? 'true' : 'false'}
                >
                  {tab.label}
                </button>
              ))
            }
            <div id="cl-copy-btn" class="ml-auto p-0.5 cursor-pointer">
              <CopyIcon id="cl-copy-icon" />
              <CheckIcon id="cl-check-icon" class="hidden text-success" />
            </div>
          </div>
        </nav>

        <div class="tab-content flex overflow-hidden">
          {
            tabsData.map((tab) => (
              <div
                class={`tab-pane fade overflow-auto scrollbar-hide ${tab.active ? 'show active' : ''}`}
                id={tab.id}
                role="tabpanel"
                tabindex="0"
              >
                <AppCode
                  class="h-full w-full !overflow-auto !bg-muted !px-0 scrollbar-hide"
                  code={tab.code}
                  lang="html"
                />
              </div>
            ))
          }
        </div>
      </div>

      <!-- card -->
      <GradientBorderBox color="warning" class="mx-auto w-full md:max-w-106 rounded-2xl">
        <div
          class="[&>.card]:w-68 py-9 size-full flex items-center justify-center bg-[url('/images/backgrounds/clean-markup-l.png')] dark:bg-[url('/images/backgrounds/clean-markup-d.png')] bg-cover bg-center bg-no-repeat"
        >
          <div class="card overflow-hidden">
            <div class="py-9 text-white text-center bg-[url('/images/mountain.avif')] bg-cover bg-center bg-no-repeat">
              <h5 class="mb-0 font-semibold">Welcome Back</h5>
              <p class="mb-0 text-xs">Enter your login details</p>
            </div>
            <div class="card-body">
              <div class="form-field mb-4">
                <label class="form-label">Email</label>
                <input type="email" class="form-control-fill" />
              </div>
              <div class="form-field mb-2">
                <label class="form-label">Password</label>
                <div class="input-group-icon">
                  <input type="password" class="form-control-fill" />
                  <svg
                    class="form-control-icon-end"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10.0013 13.1252C10.9874 13.1252 11.8242 12.7814 12.5117 12.0939C13.1992 11.4064 13.543 10.5696 13.543 9.5835C13.543 8.59738 13.1992 7.76058 12.5117 7.07308C11.8242 6.38558 10.9874 6.04183 10.0013 6.04183C9.01519 6.04183 8.17839 6.38558 7.49089 7.07308C6.80339 7.76058 6.45964 8.59738 6.45964 9.5835C6.45964 10.5696 6.80339 11.4064 7.49089 12.0939C8.17839 12.7814 9.01519 13.1252 10.0013 13.1252ZM10.0013 11.9168C9.34852 11.9168 8.79644 11.6911 8.34505 11.2397C7.89366 10.7884 7.66797 10.2363 7.66797 9.5835C7.66797 8.93072 7.89366 8.37863 8.34505 7.92725C8.79644 7.47586 9.34852 7.25016 10.0013 7.25016C10.6541 7.25016 11.2062 7.47586 11.6576 7.92725C12.1089 8.37863 12.3346 8.93072 12.3346 9.5835C12.3346 10.2363 12.1089 10.7884 11.6576 11.2397C11.2062 11.6911 10.6541 11.9168 10.0013 11.9168ZM10.0013 15.8335C8.08464 15.8335 6.33811 15.3127 4.76172 14.271C3.18533 13.2293 1.96658 11.8543 1.10547 10.146C1.0638 10.0766 1.03255 9.99322 1.01172 9.896C0.990885 9.79877 0.980469 9.69461 0.980469 9.5835C0.980469 9.47238 0.990885 9.36822 1.01172 9.271C1.03255 9.17377 1.0638 9.09044 1.10547 9.021C1.96658 7.31266 3.18533 5.93766 4.76172 4.896C6.33811 3.85433 8.08464 3.3335 10.0013 3.3335C11.918 3.3335 13.6645 3.85433 15.2409 4.896C16.8173 5.93766 18.036 7.31266 18.8971 9.021C18.9388 9.09044 18.9701 9.17377 18.9909 9.271C19.0117 9.36822 19.0221 9.47238 19.0221 9.5835C19.0221 9.69461 19.0117 9.79877 18.9909 9.896C18.9701 9.99322 18.9388 10.0766 18.8971 10.146C18.036 11.8543 16.8173 13.2293 15.2409 14.271C13.6645 15.3127 11.918 15.8335 10.0013 15.8335ZM10.0013 14.5835C11.6819 14.5835 13.227 14.1286 14.6367 13.2189C16.0464 12.3092 17.1194 11.0974 17.8555 9.5835C17.1194 8.06961 16.0464 6.8578 14.6367 5.94808C13.227 5.03836 11.6819 4.5835 10.0013 4.5835C8.32075 4.5835 6.77561 5.03836 5.36589 5.94808C3.95616 6.8578 2.8763 8.06961 2.1263 9.5835C2.8763 11.0974 3.95616 12.3092 5.36589 13.2189C6.77561 14.1286 8.32075 14.5835 10.0013 14.5835Z"
                      fill="#505763"></path>
                  </svg>
                </div>
              </div>

              <div class="flex items-center justify-between mb-9">
                <div class="form-check-inline">
                  <input class="form-check-input form-check-neutral me-1" type="checkbox" value="" id="remember-me" />
                  <label for="remember-me" class="form-check-label text-xs">Remember me</label>
                </div>

                <a class="text-xs text-default font-semibold no-underline" href="#">Forgot password?</a>
              </div>
              <button class="btn btn-neutral w-full">Log in</button>
            </div>
          </div>
        </div>
      </GradientBorderBox>
    </div>
  </SectionWrapper>
</div>

<script>
  const copyBtn = document.querySelector('#cl-copy-btn') as HTMLButtonElement;
  const copyIcon = copyBtn.querySelector('#cl-copy-icon') as HTMLElement;
  const checkIcon = copyBtn.querySelector('#cl-check-icon') as HTMLElement;

  copyBtn.addEventListener('click', async () => {
    const activeTab = document.querySelector('.tab-pane.show.active code');
    if (!activeTab) return;

    try {
      await navigator.clipboard.writeText(activeTab.textContent);
      copyIcon.classList.add('hidden');
      checkIcon.classList.remove('hidden');

      setTimeout(() => {
        checkIcon.classList.add('hidden');
        copyIcon.classList.remove('hidden');
      }, 1500);
    } catch (err) {
      console.error('Failed to copy:', err);
    }
  });
</script>
