---
import overlay1L from '@assets/images/landing/overlays/overlay1-l.png';
import overlay1D from '@assets/images/landing/overlays/overlay1-d.png';
import overlay2L from '@assets/images/landing/overlays/overlay2-l.png';
import overlay2D from '@assets/images/landing/overlays/overlay2-d.png';
import overlay3L from '@assets/images/landing/overlays/overlay3-l.png';
import overlay3D from '@assets/images/landing/overlays/overlay3-d.png';
import overlay4L from '@assets/images/landing/overlays/overlay4-l.png';
import overlay4D from '@assets/images/landing/overlays/overlay4-d.png';
import gridLeftL from '@assets/images/landing/overlays/grid-left-l.png';
import gridLeftD from '@assets/images/landing/overlays/grid-left-d.png';
import gridRightL from '@assets/images/landing/overlays/grid-right-l.png';
import gridRightD from '@assets/images/landing/overlays/grid-right-d.png';
---

<div class="absolute top-0 h-full w-full -z-10">
  <img
    src={overlay1L.src}
    alt="overlay1"
    class="w-full h-auto min-h-120 sm:min-h-140 md:min-h-170 object-cover absolute top-0 dark:hidden"
  />
  <img
    src={overlay1D.src}
    alt="overlay1"
    class="w-full h-auto min-h-120 sm:min-h-140 md:min-h-170 object-cover absolute top-0 hidden dark:block"
  />

  <img src={overlay2D.src} alt="overlay2" class="w-full h-260 absolute top-340 hidden dark:block" />
  <img src={overlay2L.src} alt="overlay2" class="w-full h-260 absolute top-340 dark:hidden" />

  <img src={overlay3L.src} alt="overlay3" class="w-full h-320 absolute bottom-450 dark:hidden" />
  <img src={overlay3D.src} alt="overlay3" class="w-full h-320 absolute bottom-450 hidden dark:block" />

  <img
    src={overlay4L.src}
    alt="overlay4"
    class="w-full h-auto min-h-220 sm:min-h-200 md:min-h-180 object-cover absolute bottom-0 dark:hidden"
  />
  <img
    src={overlay4D.src}
    alt="overlay4"
    class="w-full h-auto min-h-220 sm:min-h-200 md:min-h-180 object-cover absolute bottom-0 hidden dark:block"
  />

  <!-- grid overlays -->
  <img src={gridLeftD.src} class="absolute h-270 w-245 -top-70 lg:-top-40 -left-30 hidden dark:block object-contain" />
  <img src={gridLeftL.src} class="absolute h-270 w-245 -top-70 lg:-top-40 -left-30 dark:hidden object-contain" />

  <img src={gridLeftD.src} class="absolute h-250 w-230 top-220 -left-86 hidden dark:block object-contain" />
  <img src={gridLeftL.src} class="absolute h-250 w-230 top-220 -left-86 dark:hidden object-contain" />

  <img src={gridRightD.src} class="absolute h-250 w-230 top-625 right-0 hidden dark:block object-contain" />
  <img src={gridRightL.src} class="absolute h-250 w-230 top-625 right-0 dark:hidden object-contain" />

  <img src={gridLeftD.src} class="absolute h-250 w-230 bottom-155 -left-73 hidden dark:block object-contain" />
  <img src={gridLeftL.src} class="absolute h-250 w-230 bottom-155 -left-73 dark:hidden object-contain" />
</div>
