---
import ContentLayout from '@layouts/ContentLayout.astro';
import { aboutData, teamMembers } from 'apps/data/company';
---

<ContentLayout
  heading="Philosophy/Vision behind the most Sensible UI library"
  subHeading="Our Mission and Guiding Principles"
>
  {
    aboutData.map((item) => (
      <div class="mb-12">
        {item.title && <h2 class="text-2xl font-semibold mb-3">{item.title}</h2>}
        <p class="text-muted tracking-tight">{item.content}</p>

        {item.subSections && (
          <div>
            {item.subSections.map((sub) => (
              <div>
                <h3 class="text-xl font-medium mb-2">{sub.subTitle}</h3>
                <p class="text-muted tracking-tight">{sub.subContent}</p>
              </div>
            ))}
          </div>
        )}
      </div>
    ))
  }

  <h2 class="text-2xl font-semibold mb-3">Meet Our Team</h2>
  <p class="mb-6 text-muted tracking-tight">Meet the core team behind Hummingbird:</p>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    {
      teamMembers.map((item) => (
        <a href={item.url} class="p-4 card card-action flex flex-col justify-between bg-subtle h-26 overflow-hidden hover:border-primary">
          <h6 class="card-title text-primary text-base font-semibold tracking-normal">{item.name}</h6>
          <p class="mb-0 text-xs text-muted tracking-normal">{item.role}</p>
        </a>
      ))
    }
  </div>
</ContentLayout>
