---
import ContentLayout from '@layouts/ContentLayout.astro';
import { aboutData, teamMembers } from 'apps/data/company';
---

<ContentLayout
  heading="Philosophy/Vision behind the most Sensible UI library"
  subHeading="Our Mission and Guiding Principles"
>
  {
    aboutData.map((item) => (
      <div class="mb-12">
        {item.title && <h2 class="text-2xl font-semibold mb-3">{item.title}</h2>}
        <p class="text-muted tracking-tight">{item.content}</p>

        {item.subSections && (
          <div>
            {item.subSections.map((sub) => (
              <div>
                <h3 class="text-xl font-medium mb-2">{sub.subTitle}</h3>
                <p class="text-muted tracking-tight">{sub.subContent}</p>
              </div>
            ))}
          </div>
        )}
      </div>
    ))
  }

  <h2 class="text-2xl font-semibold mb-3">Meet Our Team</h2>
  <p class="mb-6 text-muted tracking-tight">Meet the core team behind Hummingbird:</p>

  <div class="grid grid-cols-4 gap-6">
    {
      teamMembers.map((item) => (
        <a href="#" class="card card-action h-75 overflow-hidden">
          <div class="grow flex items-end">
            <img src={item.image.src} class="object-contain grayscale" alt={item.name} />
          </div>
          <div class="p-2 flex flex-col justify-between h-19">
            <h6 class="card-title mb-0.5 text-base font-semibold tracking-normal">{item.name}</h6>
            <p class="mb-0 text-xs text-muted tracking-normal">{item.role}</p>
          </div>
        </a>
      ))
    }
  </div>
</ContentLayout>
