---
import BreadcrumbBar from '@components/docs/BreadcrumbBar.astro';
import FrameworkSidebar from '@components/docs/FrameworkSidebar.astro';
import Sidebar from '@components/docs/Sidebar.astro';
import Toc from '@components/docs/Toc.astro';
import ChevronLeftIcon from '@components/icons/ChevronLeftIcon.astro';
import ChevronRightIcon from '@components/icons/ChevronRightIcon.astro';
import InfoIcon from '@components/icons/InfoIcon.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { getDocPagination } from '@libs/pagination';
import sitemap from 'apps/sitemap';

const { headings, title, description, toc, redirects, classNames, attributeComponent, attributeLink } = Astro.props;
const sections = sitemap.flatMap((section) => section.items);
const { prev, next } = getDocPagination(sections, Astro.url.pathname);

interface ClassTableRow {
  class: string;
  desc: string;
}
---

<BaseLayout {...Astro.props} fluid={true}>
  <BreadcrumbBar />
  <div class="px-6 sm:px-10">
    <div class="lg:grid lg:grid-cols-[15rem_1fr] max-w-8xl mx-auto h-full">
      <Sidebar />
      <main class=`content-wrapper xl:grid ${toc || redirects ? 'lg:grid-cols-[1fr_16.75rem]' : ''}`>
        <div class={`py-10 lg:ps-10 min-w-0 xl:${toc || redirects ? 'pe-10' : 'pe-0'}`}>
          <h1 class="mb-4 text-[32px]">{title}</h1>
          <p class="text-xl mb-10 font-light">{description}</p>
          {
            (attributeComponent === 'Dropdown' ||
              attributeComponent === 'Tooltip' ||
              attributeComponent === 'Popover') && (
              <p>
                {attributeComponent}s use the <a href="https://popper.js.org/docs/v2/">Popper</a> library for dynamic
                positioning and viewport detection. Include <code>popper.min.js</code> before Hummingbird’s JavaScript,
                or use <code>hummingbird.bundle.min.js</code> / <code>hummingbird.bundle.js</code>, which include
                Popper. See the <a href="/docs/getting-started/javascript#dependencies">dependencies</a> section for
                more details.
              </p>
            )
          }
          {
            attributeComponent && (
              <div class="alert alert-subtle-info items-start mb-8" role="alert">
                <InfoIcon class="alert-icon" />
                <span class="-mt-1">
                  {attributeComponent} components integrate
                  <a href={attributeLink} class="inline-block" target="_blank">
                    Bootstrap's JavaScript
                  </a>
                  plugins for interactivity, paired with custom styling for a unique and consistent user experience.
                </span>
              </div>
            )
          }
          <div class="docs-content">
            <slot />
          </div>
          {
            classNames && (
              <div class="overflow-auto rounded-t-2xl max-h-84 mb-12">
                <table class="table table-highlight table-sticky-header whitespace-nowrap">
                  <thead>
                    <tr>
                      <th scope="col">Class Name</th>
                      <th scope="col">Type</th>
                      <th scope="col">Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    {classNames.component &&
                      classNames.component.map((item: ClassTableRow) => (
                        <tr>
                          <th class="py-3" scope="row">
                            {item.class}
                          </th>
                          <td class="py-3">
                            <span class="badge badge-subtle">Component</span>
                          </td>
                          <td class="py-3">{item.desc}</td>
                        </tr>
                      ))}
                    {classNames.inner &&
                      classNames.inner.map((item: ClassTableRow) => (
                        <tr>
                          <th class="py-3" scope="row">
                            {item.class}
                          </th>
                          <td class="py-3">
                            <span class="badge badge-subtle">Inner</span>
                          </td>
                          <td class="py-3">{item.desc}</td>
                        </tr>
                      ))}
                    {classNames.color &&
                      classNames.color.map((item: ClassTableRow) => (
                        <tr>
                          <th class="py-3" scope="row">
                            {item.class}
                          </th>
                          <td class="py-3">
                            <span class="badge badge-subtle-primary">Color</span>
                          </td>
                          <td class="py-3">{item.desc}</td>
                        </tr>
                      ))}
                    {classNames.style &&
                      classNames.style.map((item: ClassTableRow) => (
                        <tr>
                          <th class="py-3" scope="row">
                            {item.class}
                          </th>
                          <td class="py-3">
                            <span class="badge badge-subtle-success">Style</span>
                          </td>
                          <td class="py-3">{item.desc}</td>
                        </tr>
                      ))}
                    {classNames.behavior &&
                      classNames.behavior.map((item: ClassTableRow) => (
                        <tr>
                          <th class="py-3" scope="row">
                            {item.class}
                          </th>
                          <td class="py-3">
                            <span class="badge badge-subtle-info">Behavior</span>
                          </td>
                          <td class="py-3">{item.desc}</td>
                        </tr>
                      ))}
                    {classNames.size &&
                      classNames.size.map((item: ClassTableRow) => (
                        <tr>
                          <th class="py-3" scope="row">
                            {item.class}
                          </th>
                          <td class="py-3">
                            <span class="badge badge-subtle-warning">Size</span>
                          </td>
                          <td class="py-3">{item.desc}</td>
                        </tr>
                      ))}
                    {classNames.modifier &&
                      classNames.modifier.map((item: ClassTableRow) => (
                        <tr>
                          <th class="py-3" scope="row">
                            {item.class}
                          </th>
                          <td class="py-3">
                            <span class="badge badge-subtle-info">Modifier</span>
                          </td>
                          <td class="py-3">{item.desc}</td>
                        </tr>
                      ))}
                  </tbody>
                </table>
              </div>
            )
          }

          <div class="flex items-center justify-between mt-16">
            {
              prev ? (
                <a href={prev.path} class="btn btn-subtle-neutral flex-col items-start px-5 py-3">
                  <div class="flex items-center text-muted -ml-1">
                    <ChevronLeftIcon />
                    <span class="text-xs">Previous</span>
                  </div>
                  <p class="mb-0 font-semibold">{prev.name}</p>
                </a>
              ) : (
                <span />
              )
            }
            {
              next && (
                <a href={next.path} class="btn btn-subtle-neutral flex-col items-start px-5 py-3">
                  <div class="flex items-center text-muted">
                    <span class="text-xs">Next</span>
                    <ChevronRightIcon />
                  </div>
                  <p class="mb-0 font-semibold">{next.name}</p>
                </a>
              )
            }
          </div>
        </div>
        {
          toc && (
            <div class="min-w-67 ps-6 py-10 sticky top-[var(--navbar-height)] h-max hidden xl:block">
              <p class="font-bold ps-4">On this page</p>
              {headings && <Toc headings={headings} />}
            </div>
          )
        }
        {redirects && <FrameworkSidebar />}
      </main>
    </div>
  </div>
</BaseLayout>
