---
import type { Component } from 'apps/data/components';

interface Props {
  component: Component;
  isLast: boolean;
}

const { component, isLast } = Astro.props;
const { url, image, title, count } = component;
---

<a
  href={url}
  class={`card card-action w-full rounded-2xl bg-default overflow-hidden hover:border-primary ${isLast ? 'hidden md:grid' : ''}`}
>
  <img src={image.light.src} class="h-full w-full object-cover dark:hidden" alt={title} />
  <img src={image.dark.src} class="h-full w-full object-cover hidden dark:flex" alt={title} />
  <div class="px-4 py-3">
    <h6 class="card-title mb-0.5 text-base font-semibold">{title}</h6>
    <p class="mb-0 text-xs text-highlight">{count} components</p>
  </div>
</a>
