---
import BlocksNav from '@components/blocks/BlocksNav.astro';
import { blocks } from '@data/blocks';
import Layout from '@layouts/Layout.astro';
import { getVersionedPath } from '@libs/config';
---

<Layout>
  <div class="container px-6 max-w-7xl mx-auto my-10">
    <div class="text-center mb-10">
      <span
        class="badge text-muted font-medium text-sm border-0 mb-6 rounded-full bg-linear-to-r from-secondary to-primary p-px"
      >
        <div class="p-1 bg-default pr-2 rounded-full">
          <span class="badge badge-primary me-1"
            >New
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"
              ><path
                fill="currentColor"
                d="m11 14.5l-5.925-.75q-.625-.075-.813-.675t.263-1.025l10.225-9.8q.125-.125.3-.187T15.525 2q.5 0 .763.425t.012.875L13 9.5l5.925.75q.625.075.813.675t-.263 1.025L9.25 21.75q-.125.125-.3.188T8.475 22q-.5 0-.763-.425T7.7 20.7z"
                stroke-width="0.5"
                stroke="currentColor"></path></svg
            ></span
          >
          Ready-to-use UI blocks
        </div>
      </span>
      <h1 class="text-4xl md:text-6xl -tracking-[6.5%]">
        Beautiful UI blocks, built for <br class="hidden sm:block" /> real-world projects.
      </h1>
      <p class="md:text-lg">
        An open-source system sensibly designed for rapid development-without <br class="hidden md:block" /> sacrificing the
        flexibility of utility-first CSS.
      </p>
    </div>
    <!-- <BlocksNav /> -->
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 my-10">
      {
        blocks.map((block) => (
          <a
            href={getVersionedPath(`/blocks${block.href}`)}
            class="card card-action max-sm:max-w-70 mx-auto flex flex-col h-full w-full rounded-2xl bg-default overflow-hidden hover:border-primary"
          >
            <div class="grow flex items-center justify-center bg-subtle p-4 aspect-4/3">
              <img src={block?.image?.light} class="dark:hidden" alt={block.title} />
              <img src={block?.image?.dark} class="hidden dark:flex" alt={block.title} />
            </div>
            <div class="px-4 py-3">
              <h6 class="card-title mb-0.5 text-base font-semibold">{block.title}</h6>
              <p class="mb-0 text-xs text-muted">{block.count} blocks</p>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</Layout>
