---
import ArrowIcon from '@components/icons/ArrowIcon.astro';
import GradientBorderBox from '../common/GradientBorderBox.astro';
import type { Component } from 'apps/data/landing/interactive-components';
import { Image } from 'astro:assets';

interface Props {
  component: Component;
  index: number;
}

const { component, index: i } = Astro.props;
const { color, image, title, description, link } = component;
---

<GradientBorderBox color={color} class={`${!((i - 1) % 3) ? 'sm:transform sm:-translate-y-20' : ''}`}>
  <div class="card card-img-overlay w-38 sm:w-45 xl:w-50 aspect-square">
    <Image src={image} class="card-img brightness-100" alt={title} />
    <div class="p-4 sm:p-5 xl:p-6 card-body flex flex-col items-start">
      <h4 class="mb-4 card-title text-lg sm:text-[21px] text-default font-medium">{title}</h4>
      <p class="mb-0 text-highlight line-clamp-2 xl:line-clamp-none">{description}</p>
      <button class="mt-auto self-end">
        <ArrowIcon class="text-default" />
      </button>
    </div>
  </div>
</GradientBorderBox>
