---
import GradientBorderBox from '../common/GradientBorderBox.astro';
import primary from '@assets/images/landing/features/primary.png';
import secondary from '@assets/images/landing/features/secondary.png';
import warning from '@assets/images/landing/features/warning.png';
import info from '@assets/images/landing/features/info.png';
import error from '@assets/images/landing/features/error.png';
import success from '@assets/images/landing/features/success.png';
import type { Feature } from 'apps/data/landing/features.astro';

interface Props {
  feature: Feature;
}

const { feature } = Astro.props;
const { icon: Icon, color, title, description } = feature;

const cardStyleMap: Record<string, { icon: string; iconWrapper: string; overlay: string }> = {
  primary: { icon: 'text-primary-dark', iconWrapper: 'border-primary-dark bg-primary-lighter', overlay: primary.src },
  secondary: {
    icon: 'text-secondary-dark',
    iconWrapper: 'border-secondary-dark bg-secondary-lighter',
    overlay: secondary.src,
  },
  error: { icon: 'text-danger-dark', iconWrapper: 'border-danger-dark bg-danger-lighter', overlay: error.src },
  warning: { icon: 'text-warning-dark', iconWrapper: 'border-warning-dark bg-warning-lighter', overlay: warning.src },
  info: { icon: 'text-info-dark', iconWrapper: 'border-info-dark bg-info-lighter', overlay: info.src },
  success: { icon: 'text-success-dark', iconWrapper: 'border-success-dark bg-success-lighter', overlay: success.src },
};

const { icon: iconStyle, iconWrapper: iconWrapperStyle, overlay } = cardStyleMap[color];
---

<GradientBorderBox color={color}>
  <div class="p-6 relative bg-subtle bg-cover bg-center bg-no-repeat" style={{ backgroundImage: `url(${overlay})` }}>
    <Icon class={`h-16 w-16 opacity-10 absolute top-2.5 right-2.5 ${iconStyle}`} />
    <div class={`mb-7 h-10 w-10 flex items-center justify-center rounded-full border ${iconWrapperStyle}`}>
      <Icon class={iconStyle} />
    </div>
    <h3 class="mb-4 text-base font-semibold">{title}</h3>
    <p class="text-sm text-highlight">{description}</p>
  </div>
</GradientBorderBox>
